/ChangeLog
/aclocal.m4
/configure
/Makefile.in
/Makefile
/tests/Makefile.in
/tests/Makefile
/.autom4te.cache
/config.cache
/config.log
/config.status
/config.status.lineno
/configure.lineno
/aclocal
/automake
/doc/.dirstamp
/doc/automake*.info
/doc/automake*.info-[0-9]
/doc/automake*.html
/doc/automake*.dvi
/doc/automake*.pdf
/doc/automake*.ps
/doc/automake*.1
/doc/aclocal*.1
/doc/stamp-vti
/doc/version.texi
/doc/amhello-*.tar.gz
/doc/amhello/Makefile.in
/doc/amhello/aclocal.m4
/doc/amhello/config.h.in
/doc/amhello/config.h.in~
/doc/amhello/configure
/doc/amhello/depcomp
/doc/amhello/install-sh
/doc/amhello/missing
/lib/Automake/Config.pm
/tests/wrap/aclocal-1.*
/tests/wrap/automake-1.*
/tests/defs-static
/tests/testsuite-part.am
/tests/*-w.tap
/tests/*-w.test
/tests/depcomp-*.tap
/tests/*.dir
/tests/*.log
/tests/*.trs
/tests/pm/*.log
/tests/pm/*.trs
cscope.files
cscope.in.out
cscope.out
cscope.po.out
tags
TAGS
