/autom4te.cache
/aclocal
/automake
/aclocal.m4
/configure
/config.cache
/config.log
/config.status
/config.status.lineno
/configure.lineno
Makefile.in
Makefile
cscope.files
cscope.in.out
cscope.out
cscope.po.out
tags
TAGS
