/announcement
/ChangeLog
/aclocal.m4
/configure
/Makefile.in
/Makefile
/.autom4te.cache
/config.cache
/config.log
/config.status
/config.status.lineno
/configure.lineno
/aclocal
/automake
/runtest
/doc/.dirstamp
/doc/automake*.info
/doc/automake*.info-[0-9]
/doc/automake*.html
/doc/automake*.dvi
/doc/automake*.pdf
/doc/automake*.ps
/doc/automake*.t2d/
/doc/automake*.t2p/
/doc/automake*.1
/doc/aclocal*.1
/doc/stamp-vti
/doc/version.texi
/doc/amhello-*.tar.gz
/doc/amhello/Makefile.in
/doc/amhello/aclocal.m4
/doc/amhello/config.h.in
/doc/amhello/config.h.in~
/doc/amhello/configure
/doc/amhello/depcomp
/doc/amhello/install-sh
/doc/amhello/missing
/doc/web-manual
/lib/Automake/Config.pm
/test-suite.log
/t/wrap/aclocal-1.*
/t/wrap/automake-1.*
/t/ax/test-defs.sh
/t/ax/shell-no-trail-bslash
/t/testsuite-part.am
/t/*-w.tap
/t/*-w.sh
/t/depcomp-*.tap
/t/*.dir
/t/*.log
/t/*.trs
/contrib/t/*.dir
/contrib/t/*.log
/contrib/t/*.trs
/t/pm/*.log
/t/pm/*.trs
/t/perf/*.log
/t/perf/*.trs
cscope.files
cscope.in.out
cscope.out
cscope.po.out
tags
TAGS
