amhello-*.tar.gz
automake.info
automake.info-[0-9]
stamp-vti
version.texi
automake.ac
automake.aux
automake.cm
automake.cp
automake.cps
automake.dvi
automake.fn
automake.fns
automake.html
automake.ky
automake.log
automake.op
automake.pdf
automake.pg
automake.ps
automake.toc
automake.tp
automake.tr
automake.vr
automake.vrs
